@charset "UTF-8";

@keyframes next {
    from{
        color: red;
    }
    to{
        color: white;
    }
}

@keyframes increase {
    from{
        color: green;
    }
    to{
        color: white;
    }
}