@charset "UTF-8";

@import "animation.css";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main,section,body{
    display: flex;
    flex-direction: column;
}

body{
    background-color: lightblue;
    justify-content: center;
    height: 100vh;
}


main{    
    align-items: center;
    gap: 20px;
    h1{
        text-align: center;
        font-size: 3em;
        color: white;
    }
    section{
        text-align: center;
        background-color: cadetblue;
        width: 500px;
        color: white;
        padding: 20px;
        gap: 8px;
        border-radius: 10px;
        p:nth-child(1){
            animation-duration: 1s;   
            animation-timing-function: ease-in-out;         
            background-color: aqua;
            align-self: flex-end;
            width: 100px;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.2em;
        }
        p:nth-child(2){
            font-size: 2em;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            input{
                border: none;
                outline: none;
                border-radius: 10px;
                height: 50px;
            }
            input[type=text]{
                flex-basis: 100%;
                font-size: 1em;
                padding-left: 10px;
            }
            input[type=button]{
                flex-basis: calc(50% - 5px);
            }
        }
    }
    p:last-child{
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        text-align: center;
        font-size: 2.5em;
        color: white;
    }
}

footer{
    text-shadow: 0px 0px 1px black;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    color: white;
    a{
        color: white;
        &:hover{
            color: black;
            text-decoration: underline;
        }
    }
}